.back-drop {
  grid-area: back-drop;
}
.poster1 {
  grid-area: poster1;
  position: relative;
  top: -32px;
}
.my-text {
  grid-area: my-text;
  margin-left: 8px;
}

.container {
  display: grid;
  grid-template-columns: 64px 92px auto 32px;
  grid-template-rows: auto;
  grid-template-areas:
    "back-drop back-drop back-drop back-drop"
    ". poster1 my-text .";
  justify-content: start;
}
