.item {
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 150px;

  /* Demo-Specific Styles */
  /* background: #eaeaea; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.poster {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .item {
    margin: 0;
  }
}
